<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>poster</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <script src="static/chat.js"></script>
</head>
<body>
    <div id="chatbox" class="row"></div>
    <div id="message_area" class="row">
        <input id="to_send" class="input-group col-md-10 col-xl-11" type="text" placeholder="Type here...">
        <button class="btn col-md-2 col-xl-1" onclick="sendChat()">Send</button>
    </div>
</body>
</html>